NETWORK=preprod
NETWORK_ID=0
BLOCKFROST_PROJECT_ID=
DEPLOYER_ADDRESS=addr_test1qpdpatsf32h957mct8y7z6465fzt9nqdkdt0augpctd0z49galkv70u6sczqpxje3nuuy9kw9ts83uqtxjhk2v5pdyfqp72c6j
MM_MNEMONIC=
SUSD_TOKEN_NAME=sUSD
SUSD_DECIMALS=6
SUSD_INITIAL_SUPPLY=1000000
USER_SUSD_SEED_WHOLE=10000
BTC_USD_SYMBOL=BTC-USD
MM_SPREAD_BPS=10
MM_QUOTE_NOTIONAL_USD=1000
PERP_MAINTENANCE_BPS=500
ORACLE_MIN_SOURCES=2
ORACLE_MAX_DEVIATION_BPS=75
ORACLE_TIMEOUT_MS=4000
